body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    text-align: center;
    margin: auto;
}

header {
    background-color: #f9dfdc;
    color: #000000;
    font-size: 40px;
}

main {
    background-color: #0a81ab;
    display: grid;
    place-items: center;
}

footer {
    background-color: #000000;
    color: #f9dfdc;
}

main p:nth-child(1){
    font-size: 70px;
    color: #171332;
}

main p:nth-child(2) {
    background-color: white ;
    padding: 10px;
    width: 70%;
    height: auto;
    font-size: 40px;
    border: solid #171332 8px;
    border-radius: 20px;
    text-indent: 5%;
}