body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    text-align: center;
    margin: auto;
}

header {
    background-color: #f9dfdc;
    color: #000000;
    font-size: 40px;
}

main {
    background-color: #0a81ab;
    /* display: grid; */
    /* place-items: center; */
    display: grid;
    grid-template-rows: 0.1fr 0.40fr 1.5fr;
    place-items: center;
}

footer {
    background-color: #000000;
    color: #f9dfdc;
}

main p:nth-child(1){
    font-size: 50px;
    color: #171332;
}

main p:nth-child(2) {
    background-color: white ;
    padding: 10px;
    width: 40ch;
    height: auto;
    font-size: 20px;
    border: solid #171332 8px;
    border-radius: 20px;
    text-indent: 5%;
    
}

main ol li{
    background-color: white;
    border: solid black 3px;
    font-size: 25px;
    display: inline-block;
    margin: 2px;
    padding: 3px;
    border-radius: 20px;
    width: 20p;
    
}

main ul li {
    background-color: white;
    border: solid black 5px;
    margin: 5px;
    padding: 3px;
    border-radius: 20px;
    font-size: 25px;
    display: block;
}